/* the documents root element */
:root {
  --primary: #10470b;
  --secondary: #3b55ac;
  --tertiary: #ac7b3b;

  --border: 2px solid black;
  --border-radius: 4px;

  --btn-bg: grey;
  --btn-bg-hover: rgb(92, 88, 88);
}
body {
  margin: 0;
  padding: 20px;
  background: var(--tertiary);
  min-height: 100%;
}
* {
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 20px 0;
}
h1, h2, h3, h4, h5, h5 {
  margin: 20px 0;
  text-align: center;
}

/* buttons */
button {
  border: var(--border);
  border-radius: var(--border-radius);
  color: white;
  background: var(--btn-bg);
  padding: 8px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & .icon-button {
    display: flex;
    justify-content: center;
  }

  &.loading-button {
    min-width: 100px;
    min-height: 40px;
  }
}

/* page content */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* nav */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;

  & a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;

    &.active {
      background-color: var(--primary);
      border: 1px solid black;
    }
  }
  &>div {
    margin-left: auto;
  }
}

.user-options {
  padding: 0 10px;

  & span {
    font-size: 150%;
  }
}
.avatar {
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* dropdown */
.dropdown {
  position: relative;
}
.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  z-index: 1000;
}
.menu-item {
  margin: 0;
}
.menu-item > button {
  width: 100%;
  text-align: left;
  border: none;
  font: inherit;
  border-radius: 0;
  border-bottom: var(--border);
}
.menu :last-child > button {
  border-bottom: none;
}

/* alerts */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 20px 0;

  &.error {
    background-color: red;
  }

  &.success {
    background-color: green;
  }

  & p {
    margin: 0;
  }
}

/* close button */
.close-btn {
  background-color: transparent;
  border: 0;
  opacity: 0.5;

  &::before,
  &::after {
    content: "";
    display: block;
    margin-top: -1px;
    width: 15px;
    height: 1px;
    background: black;
    border-radius: 1px;
  }
  &::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:hover {
    background-color: transparent;
    opacity: 1;
  }
}

/* forms and inputs */
form {
  margin-top: 20px;
} 
label {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;

  & span {
    margin-bottom: 4px;
  }
}
textarea {
  min-height: 100px;
}

input:focus {
  background-color: burlywood;
  outline: none;
}

input, 
label span, 
textarea {
  display: block;
}

input, 
textarea {
  padding: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  color: black;
  flex: 1;
}
.radio-group {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;

  & .radio {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;

    & label {
      margin-bottom: 0;
    }
  }
}
.resettable {
  display: flex;
  flex: 1;
  margin: 0;
  gap: 1px;
}
.resettable input {
  width: 0;
}
.file-input {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
  gap: 4px;

  & label {
    flex-shrink: 1;
    margin: 0;
  }

  & input {
    background-color: white;
    min-width: 150px;
    flex: 1;
  }
}

/* generic */
.container {
  background-color: var(--secondary);
  padding: 10px;
  margin: 20px auto;
  margin-top: 0;
  border: var(--border);
  border-radius: var(--border-radius);
}

/* auth layout */
.login, 
.register {
  display: flex;
  flex-direction: column;
  justify-items: end;
  max-width: 350px;
}

/* search layout */
.search-form {
  max-width: 350px;
  margin: 0 auto;

  & .search-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* results */
.pagination-nav {
  display: flex;
  justify-content: center;
  gap: 5px;

  & button {
    padding: 2px 4px;
  }

  & span {
    padding: 5px;
  }
}

/* tables */
table {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;

  & thead {
    border-bottom: var(--border);
  }

  & th,
  & td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding-left: 10px;

    /* SPECIAL COLUMNS */
    &.icon {
      width: 30px;
    }

    &.action-icon {
      width: 100px;

      & > button {
        margin: auto;
        display: block;
        background: none;
        border: none;
        padding: 4px;

        & * {
          color: red;
        }

        &:hover * {
          color: darkred;
        }
      }
    }
    & .text-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        color: black;
      }

      & svg {
        fill: var(--btn-bg);
      }
    }

    &.title {
      width: auto;
    }

    &.date {
      width: 100px;
      text-align: center;
    }
    &.tiny-column {
      width: 75px;
      text-align: center;
    }
  }

  & tbody tr:nth-child(odd) {
    background-color: #dde2eb;
  }

  /* SPECIAL TABLES */
  &.navigable {
    & tbody > tr:hover {
      background-color: var(--btn-bg);
    }
  }

  &.count-table {
    width: 200px;

    & th,
    & td {
      text-align: center;
    }
  }

  /* TABLE ICONS */
  & .lock-icon > * {
    fill: darkslategrey;
  }

  & .follow-icon > * {
    fill: darkgreen;
  }

  & .block-icon > * {
    fill: darkred;
  }
}

.avatar.profile {
  width: 150px;
  height: 150px;
  border: var(--border);
}

@media (max-width: 400px) {
  .avatar.profile {
    width: 100px;
    height: 100px;
  }
}

/* ABOUT PAGE */

.text {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: midnightblue;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

/* count table container */
.count-tables {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

/* user layout */
.wrapper {
  display: flex;
  gap: 20px;

  overflow: hidden;
  min-height: 100vh;
}
.wrapper .sidebar {
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px; 

  background-color: var(--secondary);
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}
.wrapper .sidebar h3 {
  margin-bottom: 10px;
}
.wrapper .sidebar .relation-actions {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 10px;

  & button {
    width: 100%;
  }

  & .follow-btn {
    color: darkgreen;
  }
  & .block-btn {
    color: darkred;
  }
}
.wrapper .sidebar ul {
  padding: 0;
}
.wrapper .sidebar ul li {
  list-style: none;
  padding: 5px;
}
.wrapper .sidebar ul li a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  display: block;
}
.wrapper .sidebar ul li a.active {
  background-color: var(--primary);
  border: 1px solid black;
}
.wrapper .main_content {
  width: 100%;
}
.wrapper .main_content .container {
  margin: 0 0 20px 0;

  &:last-child {
    margin: 0;
  }
}

/* image */
.image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & img {
    width: 100%;
    border: 2px solid black;
  }
}
.image .image-info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
}
.image .image-info .image-views {
  padding: 0 10px;
}

.edit-actions {
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: end;
  gap: 4px;
}

.chips {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  gap: 4px;
}
.chips .chip {
  display: inline-flex;
  align-items: center;

  border-radius: 50px;
  padding: 0 10px;
  background-color: purple;
  border: 1px solid black;
}

.action-header {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;

  & h3,
  & h4 {
    margin: auto 0;
  }
}

.action-button {
  border: var(--border);
  background: none;
  padding: 4px;

  background-color: var(--btn-bg);
}
.action-button.delete {
  background-color: #f44336;
}
.action-button.on {
  background-color: darkgreen;
  color: white;
}
.action-button.off {
  background-color: darkred;
  color: white;
}

.italic {
  font-style: italic;
}

.error-element {
  background-color: darkred;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  border: 1px solid white;
  color: white;
  text-align: center;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  right: 105%;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}